/* Styles for the solutions matrix */

body {
    font-family: "Helvetica Neue";
}

.mainContainer {
    width: 95%;
    max-width: 1000px;
    background-color: #EFEFEF;
    padding: 1em;
    margin: auto;
}

.tileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tile {
    width: 300px;
    height: 300px;
    color: white;
    cursor: pointer;
    margin: 1em auto;
    position: relative;
}

.tile h2 {
    position: absolute;
    bottom: 0;
    margin: 1em;
}

.tileInfo {
    display: none;
    background-color: white;
    padding: 1em 0;
    flex-grow: 2;
}

.tileInfo h3 {
    margin: 1em;
}

.explodedTile {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em auto;
    width: 300px;
    min-height: 300px;
}

.explodedTile h2 {
    color: white;
    padding: 1em;
    margin: 0;
    cursor: pointer;
}

/*.explodedTile * {*/
    /*margin: 1em;*/
/*}*/

.tileInfo p, .tileInfo a {
    display: block;
    margin: .5em 1em;
}

/* small bois */

@media only screen and (max-width: 1000px) {
    .mainContainer {
        width: inherit;
        max-width: 95%;
    }

}