/* Styles for the solutions matrix */


body {
    font-family: 'Dosis', sans-serif;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
}

.mainContainer {
    width: 95%;
    max-width: 1000px;
    background-color: #EFEFEF;
    padding: 1em;
    margin: auto;
}

/*.tileContainer {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-evenly;*/
/*}*/

.tile {
    width: 100%;
    color: white;
    cursor: pointer;
    margin: .5em auto;
}

.tile h2 {
    font-family: 'Merriweather', serif;
    padding: .5em;
}

.tileInfo {
    display: none;
    background-color: white;
    padding: 1em;
}

.tileInfo h3 {
    margin: 1em;
    font-weight: 400;
}

.tileInfo h4 {
    margin: 2em 1em 1em;
}

.explodedTile {
    background-color: white;
    margin: 1em auto;
    width: 100%;
    box-shadow: 0px 0px 10px lightgrey;
}

.explodedTile h2 {
    color: white;
    padding: .5em;
    margin: 0;
    cursor: pointer;
}

.tileInfo p, .tileInfo a {
    display: block;
    margin: .5em 1em;
}

/* small bois */

@media only screen and (max-width: 1000px) {
    .mainContainer {
        width: inherit;
        max-width: 95%;
    }

}